<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'About Us Style.css' %}">
</head>

<body bgcolor=black style="color:#29ECDA;">
    <div id=container>
        <div id=head>
            <h1> <a href="Homepage.html" style="color: goldenrod;text-decoration: none;"> MemeSaahab </a> </h1>
        </div>
        <div id=content>
            <div id = "nav">
                <br>
                <h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Navigation</h3>
                <ul>
                    <a href="index.html" style="text-decoration:none;color:#E1D222"> <li> Home</li></a>
                    <br>
                    <a href=" " style="text-decoration:none;color:#E1D222"> <li> Join MemeSaahab! </li>
                    <br>
                    <a href="AboutUs.html" style="text-decoration:none;color:#E1D222"> <li> About Us </li> </a>
                    <br>
                    <a href="Contact.html" style="text-decoration:none;color:#E1D222"> <li> Contact </li> </a>
                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br><br>
                </ul>   
                </div>
            </div>

        <div id=main>
            <h2 style="text-align:center"> About Us </h2>
            <br> <br>
            <p style="font-size:30px;text-align: center;"> <i> <br><br> People asked us why electricity isn't free. <br><br> Then we figured, electricity is free if you pretend to be it. </i><br><br><br><br><br><br><br> </p>
        </div>
        
        <div id=footer style="text-align:center">
            Copyright &copy; 2020, Team ZAPS
        </div>

    </div>   
   
</body>
</html>