<--Old Website-->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{%static 'Contact Style.css' %}">
</head>

<body bgcolor=black style="color:#FD982D;">
    <div id=container>
        <div id=head>
            <h1> <a href="" style="color: goldenrod;text-decoration: none;"> MemeSaahab </a> </h1>
        </div>
        <div id=content>
            <div id = "nav">
                <br>
                <h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Navigation</h3>
                <ul>
                    <a href="index.html" style="text-decoration:none;color:#E1D222"> <li> Home</li></a>
                    <br>
                    <a href="" style="text-decoration:none;color:#E1D222"> <li> Join MemeSaahab! </li>
                    <br>
                    <a href="AboutUs.html" style="text-decoration:none;color:#E1D222"> <li> About Us </li> </a>
                    <br>
                    <a href="Contact.html" style="text-decoration:none;color:#E1D222"> <li> Contact </li> </a>
                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br><br>
                </ul>   
                </div>
            </div>

        <div id=main>
            <h2 style="text-align:center"> Contact </h2>
            <ul>
                <li style="font-size:20px;"> To connect with us, contact us at <a href="Bwahaha.html" style="color:#B23BD8"> blah@bleh.com </a> </li>
                <li style="font-size:20px;"> If you live in the medieval ages, text us at <a href="Bwahaha.html" style="color:#B23BD8"> chitthi@kabutar.org </a> <br>you Neanderthal. </li>
                <li style="font-size:20px;"> Send us fan-mail at <a href="Bwahaha.html" style="color:#B23BD8"> letter@dustbin.gov.in</a> </li>
                <br><br><br><br><br><br><br>
                <p style="text-align: center;"> <img src="static\CooCoo.jpg" width=408.75 height=240> </p>
            </ul>
        </div>
        
        <div id=footer style="text-align:center">
            Copyright &copy; 2020, Team ZAPS
        </div>

    </div>   
   
</body>
</html>
