<!CHANGE FONT>
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemeSaahab</title>
    <link rel="stylesheet" href="{% static 'Homepage Style.css' %}">
</head>
<body  style="color:goldenrod;">

    <div id="container">
        <div id="header">
            <h1 style="text-align:center;"><a href="templates\Homepage.html" style="color: goldenrod;text-decoration: none;"> MemeSaahab </a></h1>

        </div>
        <div id = "content">
            <div id = "nav">
                <br>
                <h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Navigation</h3>
                <ul>
                    <a href="index.html" style="text-decoration:none;color:#E1D222"> <li> Home</li></a>
                    <br>
                    {%if user.is_authenticated %}
                    <a href="accounts/logout" style="text-decoration:none;color:#E1D222"> <li> Logout</li>
                    <br>
                    <li>Hello, {{user.username}}</li>
                    {%else%}
                    <a href="accounts/register" style="text-decoration:none;color:#E1D222"> <li> Join MemeSaahab! </li>
                    <br>
                    <a href="accounts/login" style="text-decoration:none;color:#E1D222"> <li> Login to MemeSaahab! </li>
                    <br>
                    {%endif%}
                    <a href="AboutUs.html" style="text-decoration:none;color:#E1D222"> <li> About Us </li> </a>
                    <br>
                    <a href="Contact.html" style="text-decoration:none;color:#E1D222"> <li> Contact </li> </a>
                     <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br><br>
                </ul>   
                </div>

                <div id = "main" >            
                    <h2 style="text-align: center;"> Bienvenue!</h2>
                    <br>
                    <p> <img src="static\Meme 1.png" alt="Meme 1" width=280 height=280> <img src="static\Meme 2.png" alt="Meme 2" width=280 height=280> </p>
                    <p> <img src="static\Meme 3.jfif" alt="Meme 3" width=280 height=280> <img src="static\Meme 4.jfif" alt="Meme 4" width=280 height=280> </p>
                    <p> <img src="static\Meme 5.jpg" alt="Meme 5" width=280 height=280> <img src="static\Meme 6.jpg" alt="Meme 6" width=280 height=280> </p>
                </div>
        </div>

        <div id = "footer" style="text-align:center">
            Copyright &copy; 2020, Team ZAPS

        </div>
    </div>

</body>
</html>