{%extends 'base.html'%}

<!--{%block link%}
<link rel = "stylesheet" type= "text/css" href = "static\Homepage Style.css">{%endblock%}
-->

{%block content%}

                <div id = "main" >            
                    <h2 style="text-align: center;"> Bienvenue!</h2>
                    <br>
                    <p> <img src="static\Meme 1.png" alt="Meme 1" width=280 height=280> <img src="static\Meme 2.png" alt="Meme 2" width=280 height=280> </p>
                    <p> <img src="static\Meme 3.jfif" alt="Meme 3" width=280 height=280> <img src="static\Meme 4.jfif" alt="Meme 4" width=280 height=280> </p>
                    <p> <img src="static\Meme 5.jpg" alt="Meme 5" width=280 height=280> <img src="static\Meme 6.jpg" alt="Meme 6" width=280 height=280> </p>
                </div>
        </div>

        <div id = "footer" style="text-align:center">
            Copyright &copy; 2020, Team ZAPS

        </div>
    </div>
{%endblock%}
</body>
</html>